
input{
    outline: none;
}

.border-purple{
    border-color: rgb(111,66,193);
}

.bg-purple{
    background: rgb(111,66,193);
    background: linear-gradient(90deg, rgba(111,66,193,1) 0%, rgba(16,88,230,1) 100%);
}

.center-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link-p{
    transition:linear .5s;
    margin-bottom: 1px;
}

.link-p:hover{
    margin-bottom: 0px;
    color: rgb(111,66,193) !important;
    border-bottom: 1px solid rgb(111,66,193); 
}

.text-purple{
    color: rgb(111,66,193) !important;
} 

.center-vertical{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
