<div class="bg-purple col-3 px-0 rounded pb-1 mx-auto center-center border-0">
    <form action="atualizarTurma" method="POST" class="py-3 card col-12 border-purple bg-x">
        <input type="hidden" name="tur_id" value="{{tur_id}}">
        <div class="form-group py-3">
            <label for="tur_nome">Nome:</label>
            <input class="border-purple w-100 border-top-0 border-left-0 border-right-0" type="text" name="tur_nome" id="tur_nome" value="{{tur_nome}}" required>
        </div>
        <input class="mb-4 btn bg-purple text-white" type="submit" value="Atualizar">
    </form>
</div>