<div class="bg-purple col-3 px-0 rounded pb-1 mx-auto center-center border-0">
    <form action="loginCoord" method="POST" class="py-3 card col-12 border-purple bg-x">
        <h2 class="text-center pt-3">Login</h2>
        <hr class="">
        <div class="form-group py-3">
            <input type="text" name="coo_login" required="" placeholder="Login..." class=" border-purple w-100 border-top-0 border-left-0 border-right-0">
        </div>
        <div class="form-group pb-3">
            <input type="password" name="coo_senha" required="" placeholder="Senha..." class=" border-purple w-100 border-top-0 border-left-0 border-right-0">
        </div>
        <input type="submit" value="Login" class="mb-4 btn bg-purple text-white">
    </form>
</div>
